<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand">{{title}}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="members">Party</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <a class="nav-link" routerLink="admin">Admin</a>
  </ul>
</nav>

<div class="container main-display">
  <router-outlet><router-outlet>
