<h3>Recruit new party member</h3>
<div>
  <div>
    <label>Name:</label>
    <br>
    <input #newName>
  </div>

  <div>
    <label>Title:</label>
    <br>
    <input #newTitle>
  </div>

  <div>
    <label>Method:</label>
    <br>
    <input #newMethod>
  </div>

  <div>
    <label>Role:</label>
    <br>
    <input #newRole>
  </div>

  <div>
    <label>Specialization:</label>
    <br>
    <input #newSpecialization>
  </div>

  <button (click)="submitForm(newName.value, newTitle.value, newMethod.value, newRole.value, newSpecialization.value); newName.value=''; newTitle.value=''; newMethod.value=''; newRole.value=''; newSpecialization.value=''">Recruit!</button>
</div>
