<div id="member-list">
  <h1>Party Members:</h1>
  <div *ngFor="let member of members | async" (click)="goToDetailsPage(member)">
    <div class="card">
      <h3 class="card-header">{{member.name}}</h3>
      <div class="card-block">
        <h6 class="card-subtitle mb-2 text-muted">{{member.title}}</h6>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" (click)="editMember()">Edit</button>
          <button class="btn btn-danger" (click)="deleteMember()">Delete</button>
        </div>
      </div>
    </div>
  </div>
